body.login {
    background-image: url('background-login.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;  
} 

.login h1 a {
    background-image: url('logo-devoilezvostalents.png'); 
    background-size: 120px; 
    height: 120px; 
    width: 120px; 
}

.login label {
    font-size: 12px;
    color: #555555;
}

.login input[type="text"]{
    background-color: #ffffff;
    border-color:#dddddd;
    -webkit-border-radius: 4px;
}

.login input[type="password"]{
    background-color: #ffffff;
    border-color:#dddddd;
    -webkit-border-radius: 4px;
}

.login .button-primary {
    width: 120px;
    float:right;
    background-color: #ff7707 !important;
    color: #ffffff;
    font-weight:bold;
    -webkit-border-radius: 4px;
    border: 1px solid #ff9607;
    box-shadow: none;
    text-shadow: none;
}

.login .button-primary:hover {
    background-color:#ff9607 !important;
    color: #fff;
    -webkit-border-radius: 4px;
    border: 1px solid #ff9607;
}

.login .button-primary:active {
    background-color:#ff9607 !important;
    color: #fff;
    -webkit-border-radius: 4px;
    border: 1px solid #ff9607;
}